@media screen and (max-width: 992px) {
    .container {
        max-width: 100%;
    }
    body {
        background-color: red;
    }
    .col-lg-4 {
        width: calc(33.33% - var(--gutter));
    }
}
@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    body {
        background-color: blueviolet;
    }
    .col-lg-4 {
        width: calc(50% - var(--gutter));
    }
}
@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
    body {
        background-color: rgb(63, 236, 11);
    }
    .col-lg-4 {
        width: calc(100% - var(--gutter));
    }
}

