:root {
    --gutter: 15px;
    --bg: blue;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 20px;
    margin: 0px;
}
body,p,h1,h2,h3,u1,o1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
}
/* .header {
    background-color: var(--bg);
} */
/* .container {
    background-color: darkkhaki;
    max-width: 1200px;
    margin: auto;
    padding: 15px 15px;
} */
/* .row {
    display: flex;
    flex-wrap: wrap;
} */
/* .row > div {
    padding: 10px;
    margin: 0 auto;
    background-color: red;
    border: 1px solid black;
} */
.block {
    background-color: #666;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    height: 100%;
    vertical-align: inherit;
}
.header {
    min-height: 90px;
    margin-bottom: 130px;

}
.promo {
    min-height: 460px;
    margin-bottom: 100px;

}
.part {
    min-height: 100px;
    margin-bottom: 150px;

}
.proga {
    min-height: 200px;
    margin-bottom: 50px;

}
.material {
    min-height: 170px;
    margin-bottom: 70px;
}
.podval {
    min-height: 200px;
}